@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .navbar-bg{
        @apply bg-gradient-to-r from-purple-500 to-pink-500
    }
    .btn-bg{
        @apply bg-gradient-to-r from-indigo-500 to-purple-500 rounded-xl text-white bg-clip-padding
    }
    .btn{
        @apply text-3xl font-bold p-2 rounded-xl text-white
    }
    .lbl{
        @apply text-lg
    }
    .memetext{
        -webkit-text-stroke: 1px black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        @apply text-white font-bold font-meme
    }
}